/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#content {
    position: absolute;
    overflow: auto;
    width: 100%;
    top: 4.5em;
    bottom: 2.5em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

h1 {
    text-align: center;
}

#header {
    position: absolute;
    width: 100%;
    top: 0px;
    height: 4em;
}

#footer {
    position: absolute;
    width: 100%;
    background: #039be5 ;
    bottom: 0px;
    height: 2.0em;
}

#footer p {
    margin: 0;
    padding: 0.2em;
}