.restart-button {
    margin-left: 20px;
}

.game-panel {
    text-align: center;
}

.voting-text {
    font-weight: bold;
}

.voting-text-last {
    color: red;
}

.vote-summary {
    font-weight: bold;
    text-align: start;
}

.expansion-panel-align {
    flex-basis: 0;
    justify-content: space-between;
    align-items: flex-start;
}

.expansion-panel {
    width: 100%;
    max-width: 600px;
    margin: auto;
}

.expansion-panel-title {
    text-align: start;
}

.expansion-panel-description {
    text-align: start;
}

.expansion-panel-body {
    text-align: center;
}


.vote-icon {
    /* width: 25px;*/
    max-width: 10%;
    min-width: 25px;
}

.vote-button-group {
}


.vote-button {
    /*
    width: 45px;
    height: 45px;
    */
    min-width: 45px;
    max-width: 18%;
}