<div class="game-panel">

  <mat-accordion multi="false" class="expansion-panel-align">
    <mat-expansion-panel class="expansion-panel" [expanded]="getStep() === 0" (opened)="setStep(0)">
      <mat-expansion-panel-header>
        <mat-panel-title class="expansion-panel-title">
          Invite
        </mat-panel-title>
        <mat-panel-description class="expansion-panel-description">
          Invite more players
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="mat-expansion-panel-body">
        To invite more players, send them the URL of this page <br />
        <button *ngIf="!canShare" class="copy-url-button" mat-raised-button color="primary" (click)="copyURL()">Copy
          URL to Clipboard</button>
        <button *ngIf="canShare" class="copy-url-button" mat-raised-button color="primary" (click)="shareURL()">Share
          this game</button>
      </div>
    </mat-expansion-panel>

    <mat-expansion-panel [disabled]='!canVote()' class="expansion-panel" [expanded]="getStep() === 1" (opened)="setStep(1)">
      <mat-expansion-panel-header>
        <mat-panel-title class="expansion-panel-title">
          Vote
        </mat-panel-title>
        <mat-panel-description class="expansion-panel-description">
          How many fingers do you want to raise?
        </mat-panel-description>
      </mat-expansion-panel-header>
      <mat-action-row>
        <button mat-raised-button class="restart-button" *ngIf="canRestart()" color="primary" (click)="restart()">Restart
          Game</button>
      </mat-action-row>
      <div class="mat-expansion-panel-body">
        <mat-button-toggle-group [disabled]='!canVote()'>
          <mat-button-toggle (click)="vote(0)" class="vote-button"><img class="vote-icon" src="assets/fist-zero.svg"></mat-button-toggle>
          <mat-button-toggle (click)="vote(1)" class="vote-button"><img class="vote-icon" src="assets/fist-one.svg"></mat-button-toggle>
          <mat-button-toggle (click)="vote(2)" class="vote-button"><img class="vote-icon" src="assets/fist-two.svg"></mat-button-toggle>
          <mat-button-toggle (click)="vote(3)" class="vote-button"><img class="vote-icon" src="assets/fist-three.svg"></mat-button-toggle>
          <mat-button-toggle (click)="vote(4)" class="vote-button"><img class="vote-icon" src="assets/fist-four.svg"></mat-button-toggle>
          <mat-button-toggle (click)="vote(5)" class="vote-button"><img class="vote-icon" src="assets/fist-five.svg"></mat-button-toggle>
        </mat-button-toggle-group>
        <hr />
        <div class="voting-text" [class.voting-text-last]="lastToVote">{{ votingText }}</div>
      </div>
    </mat-expansion-panel>


    <mat-expansion-panel class="expansion-panel" [expanded]="getStep() === 2" (opened)="setStep(2)">
      <mat-expansion-panel-header>
        <mat-panel-title class="expansion-panel-title">
          Results
        </mat-panel-title>
        <mat-panel-description class="expansion-panel-description">
          What are the results of the game?
        </mat-panel-description>
      </mat-expansion-panel-header>
      <mat-action-row>
        <button mat-raised-button class="restart-button" *ngIf="canRestart()" color="primary" (click)="restart()">Restart
          Game</button>
      </mat-action-row>

      <div class="mat-expansion-panel-body">

        <div class="vote-summary">
          <h2>Summary:</h2>
          <div>{{ voteSummary }}</div>
        </div>
        <hr />
        <h2>Details:</h2>
        <table>
          <!--tr>
                    <th>Player</th><th>Vote</th>
                  </tr-->
          <tr *ngFor="let client of clients">
            <td *ngIf="client.thisIsYou">
              <b>{{ client.username }}</b>
            </td>
            <td *ngIf="!client.thisIsYou">
              {{ client.username }}
            </td>
            <td>
              <img *ngIf="client.hasVoted && client.vote < 0" class="vote-icon" src="assets/decided.svg">
              <img *ngIf="!client.hasVoted" class="vote-icon" src="assets/thinking.svg">
              <img *ngIf="client.hasVoted && client.vote == 0" class="vote-icon" src="assets/fist-zero.svg">
              <img *ngIf="client.hasVoted && client.vote == 1" class="vote-icon" src="assets/fist-one.svg">
              <img *ngIf="client.hasVoted && client.vote == 2" class="vote-icon" src="assets/fist-two.svg">
              <img *ngIf="client.hasVoted && client.vote == 3" class="vote-icon" src="assets/fist-three.svg">
              <img *ngIf="client.hasVoted && client.vote == 4" class="vote-icon" src="assets/fist-four.svg">
              <img *ngIf="client.hasVoted && client.vote == 5" class="vote-icon" src="assets/fist-five.svg">
            </td>
          </tr>
        </table>
      </div>
    </mat-expansion-panel>
  </mat-accordion>

</div>